.company-item-form {
  display: flex;
  justify-content: space-between;
}

.company-info {
  display: flex;
  gap: 16px;
}

.company-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

.company-name {
  font-weight: 500;
}

.company-category {
  font-size: 14px;
  color: #747474;
}
