.simInvest-header-row {
  width: 1200px;
  height: 39px;
  background-color: #2e2e2e;
  display: flex;
  border-radius: 4px;
}

.invester-name,
.invester-rank,
.investment-amount {
  width: 84px;
  height: 39px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.investment-comment {
  width: 884px;
  height: 39px;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blank {
  width: 64px;
  height: 39px;
}

.invester-list-container {
  margin-top: 16px;
  padding-bottom: 40px;
}

.invester-list {
  width: 1200px;
  height: 64px;
  display: flex;
  background-color: #212121;
  position: relative;
}

.invester-name-value,
.invester-rank-value,
.investment-amount-value {
  width: 84px;
  height: 64px;
  color: #d8d8d8;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.investment-comment-value {
  width: 884px;
  height: 64px;
  color: #d8d8d8;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kebab {
  width: 64px;
  height: 64px;
  background-image: url('../../images/kebab.svg');
  background-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.invester-list-container > :nth-child(1),
.invester-list-container > :nth-child(2),
.invester-list-container > :nth-child(3),
.invester-list-container > :nth-child(4) {
  border-bottom: 1px solid #4b4b4b;
}

.invester-list-container > :nth-child(1) {
  border-radius: 4px 4px 0px 0px;
}

.invester-list-container > :last-child {
  border-bottom: 0;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overflow-box {
    width: 697px;
  }

  .investment-comment {
    width: 381px;
  }

  .investment-comment-value {
    width: 381px;
  }

  .simInvest-header-row,
  .invester-list {
    width: 697px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .overflow-box {
    max-width: 359px;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 16px;
  }

  .invester-list-container {
    padding-bottom: 8px;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    width: 101px;
    background: #131313;
    border: 2px solid #212121;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #212121;
    border-radius: 8px;
  }
}
