/* modal design */
ol {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#modal-content {
  width: 496px;
}

.modal-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* 지울 생각 */
  margin-top: 7px;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
}

.search-container {
  position: relative;
}

.search-input {
  width: 448px;
  height: 48px;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #747474;
  background-color: #212121;
  color: #d8d8d8;
  margin: 0;
}

.search-delete {
  position: absolute;
  top: 16px;
  right: 48px;
  cursor: pointer;
}

.search-button {
  position: absolute;
  top: 12px;
  right: 12px;
}

/* MyCompany design */

.company-choice-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 1200px;
}

.company-choice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.company-choice-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
}

.company-choice-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 300px;
  background-color: #212121;
}

.deselect {
  position: absolute;
  top: 16px;
  right: 16px;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.company-choice-button {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-plus {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  cursor: pointer;
}
