/* modal design */
ol {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 7px;
}

.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
}

.modal-title-inside {
  font-size: 18px;
  font-weight: 700;
}

.search-container {
  position: relative;
}

.search-input {
  width: 448px;
  height: 48px;
  border-radius: 10px;
  padding: 12px;
  border: 1px solid #747474;
  background-color: #212121;
  color: #d8d8d8;
  margin: 0;
}

.search-delete {
  position: absolute;
  top: 16px;
  right: 48px;
  cursor: pointer;
}

.search-button {
  position: absolute;
  top: 12px;
  right: 12px;
}

/* MyCompany design */

.company-choice-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 1200px;
}

.company-choice-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-choice-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23.87px;
}

.company-choice-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 300px;
  background-color: #212121;
  margin: auto;
}

.deselect {
  position: absolute;
  top: 16px;
  right: 16px;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}

.company-choice-button {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn-plus {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.title-plus {
  font-size: 18px;
  font-weight: 500;
}

/* Tablet view */
@media (min-width: 744px) and (max-width: 1199px) {
  .company-choice-container {
    width: 696px;
  }

  .company-choice-input {
    width: 696px;
    height: 240px;
  }
}

/* Mobile view */
@media (max-width: 743px) {
  .modal-content {
    padding: 16px;
  }
  .modal-box {
    gap: 16px;
  }

  .modal-title {
    font-size: 16px;
  }

  .modal-title-inside {
    font-size: 14px;
  }

  .search-input {
    width: 311px;
    height: 40px;
  }

  .search-delete {
    top: 12px;
  }

  .search-button {
    top: 8px;
  }

  .company-choice-container {
    width: 343px;
  }

  .company-choice-title {
    font-size: 16px;
    line-height: 19.09px;
  }

  .company-choice-input {
    width: 343px;
    height: 180px;
  }

  .deselect {
    font-size: 12px;
  }

  .initialization-box {
    justify-content: center;
    gap: 3px;
  }

  .initialization-button {
    width: 116px;
    height: 32px;
    font-size: 14px;
    padding: 0px;
    justify-content: center;
  }

  .title-plus {
    font-size: 14px;
  }
}
