label {
  width: 448px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.password-input {
  width: 448px;
  height: 48px;
  padding: 20px 10px;
  border: 1px solid #747474;
  border-radius: 10px;
  color: #747474;
  font-size: 14px;
  font-weight: 400;
  background-color: #212121;
  margin-top: 16px;
  margin-bottom: 32px;
}

.password-eye {
  width: 20.39px;
  height: 14px;
  background-image: url('../../../images/visibility-eye.png');
  background-size: cover;
  position: absolute;
  top: 33px;
  right: 12px;
}

.password-input-box {
  position: relative;
}
