.background {
  background-color: #131313;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1364px;
}

.no-list {
  color: #747474;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 104px auto;
}
