.background {
  background-color: #131313;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1364px;
}

.no-list {
  color: #747474;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin: 104px auto;
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  .invester-list-container > :last-child > .invester-list-dropdown {
    position: absolute;
    top: -65px;
    right: 20px;
  }

  .detail-page-modal > #modal-container > .modal-content {
    padding: 16px;
  }

  .detail-page-modal > #modal-container > .modal-content > #sss > #delete-img {
    width: 24px;
    height: 24px;
    right: 16px;
    top: 16px;
  }
}
