#CompoersionViewer {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  background-color: #131313;
  flex-direction: column;
}
#CompoersionViewer-title {
  font-size: 20px;
  font-weight: 700;
}
#no-data {
  position: absolute;
  left: 50%;
  top: 50%;
  color: rgba(116, 116, 116, 1);
}
