button {
  font-size: 16px;
  font-weight: 600;
  background-color: #eb5230;
  border-radius: 50px;
  border: 0;
  color: #ffffff;
}

/* 기업 투자하기 */
.company-invest-button {
  width: 131px;
  height: 40px;
}

/* 나의 기업 투자하기 */
.my-company-invest-button {
  width: 183px;
  height: 48px;
}

/* 다른 기업 비교하기 */
.company-comparison-button {
  width: 183px;
  height: 48px;
}

/* 기업 추가하기 */
.add-company-button {
  width: 135px;
}

/* 기업 투자 모달 - 투자하기*/
.invest-button {
  width: 183px;
  height: 48px;
}

/* 기업 투자 모달 - 취소*/
.invest-cancel-button {
  border: 1px solid #eb5230;
  background-color: #212121;
  font-size: 18px;
  color: #eb5230;
  width: 194px;
  height: 48px;
}

/* 모달 - 확인,삭제 */
.modal-button {
  width: 194px;
  height: 48px;
}

/* 전체 초기화 */
.initialization-button {
  width: 149px;
  padding: 8px 24px;
}

.initialization {
  width: 24px;
  height: 24px;
  background-image: url("../images/initialization.png");
  background-size: contain;
}

.initialization-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*------------*/
