.chip-item-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 비교 대상 기업 칩 css */
.chip-inside {
  display: flex;
  justify-content: center;
}

.chip-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chip-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.chip-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.chip-name {
  font-weight: 500;
}

.chip-category {
  font-size: 14px;
  color: #747474;
}

/* Mobile view */
@media (max-width: 743px) {
  .chip-logo {
    width: 65px;
    height: 65px;
  }

  .chip-name {
    font-size: 14px;
  }

  .chip-category {
    font-size: 12px;
  }
}
